* {
   margin:0;
   box-sizing:border-box ;
}


body {
    
    font-size:100%;
    background-color: #06132f;
    padding: 90px 20px 0px;
    
}

.header {
    background-color: rgb(0, 255, 195);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;
}

.nav-link {
    color:rgb(230, 230, 230);
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;

}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover {
    background-color: blue;
    transition: 0.5s;
}

.LOL {
    background-color: #1441a5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: -2rem;
    

}


.T-Que-es-LOL {
    margin-left: 150%;
    margin-top: 10%;
    
}

.P-Que-es-LOL {
    font-size: 1.4rem;
    color: rgb(3, 0, 6);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
   
    margin-top: 130px;
    
}



.Ligas-T {
    margin-left: 150%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    
}


.Ligas {
    background-color: #174abd;
    min-height: 10vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 80px;
    
    
    
}


.Ligas-p {
    
    color: rgb(0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    margin-top: 70px;
}

.campeones {
    background-color: #0f2f76;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 80px;
   
}


.T-Campeones {
    margin-left: 150%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.4rem;  

}

.P-Campeones {
    color: rgb(0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    margin-top: 70px;
}

.Consejos {
    background-color: #1b4282;
    min-height: 10vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 80px;
    font-size: 1.4rem;
}

.T-consejos{
    margin-left: 150%;
    font-family: Helvetica, Arial, sans-serif;
}

.P-consejos {
    color: rgb(0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    margin-top: 70px;
}


.logo {
 margin-top:100px;
 margin-right: 1000px;
}

.aa {
    
    width: 500px;
    height: 400px;
    
}