body {
    font-size:100%;
    background-color: A5382D;
}

.img_aaaa{
    width: 400px;
    height:400px;
   margin-left: 60%;
    
   
   
}


.h1__aatrox {
 text-align: center;

}

.nav-logo {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}




